#div1 
{
  margin: 30px auto; 
  border-radius: 25px;
  background-color: #7f6b6a;
  padding: 20px;
  width:  1100px;
  height: 40px;
}
h1
{
    text-align: center;
    color: #faf6f5
}
body
{
   background-image: url('img.png');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    color: #ab5050;
}